.minH {
  height: calc(100vh - 80px);
  background-image: url("../assets/images/backgroundRegisterLogin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border: 10px solid;
}
